/* 印刷時のスタイルここから */
@media print {
    body {
      -webkit-print-color-adjust: exact;
      top:0 !IMPORTANT;
      left:0 !IMPORTANT;
      width:200mm !IMPORTANT;
      height:290mm !IMPORTANT;
      }
  
    #contents {
      display: none;
    }
  
    #selection-screen {
      display: none;
    }
  
    #conditions {
      display: none;
    }
  
    #select-Grade {
      display: none;
    }
  
    #formulas-header {
      display: none;
    }
  
    #mode-selection {
      display: none;
    }
  
    footer {
      display: none;
    }
    
    #problem {
      margin: 0;
    }
  
    #print_header {
      display: inline;
      font-size: 1.2em;
      font-family: "Noto Sans JP", sans-serif;
      margin-bottom: 4%;
      font-weight: 100;
    }
  
    #formulas {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  
    .formula {
      display: inline-block;
      width: 50%;
      margin: 0 0 7% 0;
    }
  
    .formulaParts {
      font-size: 1.2em;
      margin-right: 1%;
    }
  }
  /* 印刷時のスタイルここまで */
  