@media (max-width: 1024px) {

    /* トップページのスタイルここから */
    #contents {
        height: auto;
    }

    .main-title {
        top: 0;
        left: 2%;
        margin:1% 0 2.5%;
        font-size:3.5em;
    }

    .main-explanation{
        font-size: 1.8em;
        top: 0.5%;
        left: 30%;
    }

    .swiper {
        display: block;
    }

    .top-image {
        display: none;
    }

    .swiper-container {
        margin-top: 14%;
        background-color: whitesmoke;
    } 

    .swiper-slide img {
        width: 93%;
        margin:2% 0 3% 3%;
    }

    .swiper-pagination {
        top: 95%;
    }

    .start {
        position: relative;
        height:10%;
        width: 40%;
        padding: 1.5% 0;
        top:0;
        left:0;
        margin:8% auto;
        font-size: 2.5em;
        border-radius:0.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .start:hover {
        background-color: white;
        color:#00CED1;
    }
    /* トップページのスタイルここまで */

    /* 2つの方法から選択する画面のスタイルここから */
    /* #selection-screen {
        background-color: darkseagreen;
    } */

    .selection-title {
        font-size: 2.8em;
        margin-top: 1%;
    }

    .selection-title [data-ruby]::before {
        font-size: 0.45em;
    }

    .selected {
        width: 75%;
        height: 38%;
        margin-top: 2%;
    }

    .selected-grand {
        margin-top: 7%;
    }

    .selected-title {
        font-size: 2em;
        padding:2% 0 0 0;
    }

    .selected-title [data-ruby]::before {
        font-size: 0.4em;
    }

    .condision-type {
        margin-top: 0;
    }

    .condision-types {
        font-size: 1.7em;
    }

    .condision-types-grand {
        font-size: 1.25em;
    }

    .selected-details {
        line-height:200%;
        font-size:1.5em;
        margin-top: 0;
        line-height: 180%;
    }

    .selected:hover {
        opacity: 1;
        
    }
    /* 2つの方法から選択する画面のスタイルここまで */

    /* 条件設定画面のスタイルここから */
    /* #conditions {
        background-color:lightskyblue;
    } */
    
    .condition-main-title {
        font-size: 3.5em;
    } 

    .condition {
        height: 15%;
    }

    .condition-title {
        display: block;
        margin: 0% auto;
        padding-top: 2%;
        margin-left: 33%;
        margin-bottom: 1%;
        font-size: 2.2em;
    }

    #numberSize {
        height: 40%;
    }

    .condition-title [data-ruby]::before {
        top: -0.7em;
    }

    .condision-selected {
        margin: 0 0 0 1%;
        padding:0 3%;
        box-sizing: border-box;
    }

    .formula-text {
        bottom: 0.25em;
    }

    .condition-label-operator {
        padding: 0 3%;
        font-size: 2em;
    }

    .operator-all {
        top: 30%;    
        left: 78%;
        padding:0 1%;
        font-size: 1.5em;
    }

    .condition-button-numberSize  {
        padding:0 4.5%;
    }

    .numberSize-button-random {
        margin-left: 35%;
        width: 35%;
    }

    .conditionsButton:hover {
        background-color: white;
        color:#00CED1;
    }

    .white:hover {
        opacity: 1;
    }

    .black:hover {
        opacity: 1;
    }

    .operator-all:hover {
        opacity: 1;
    } 

    #operatorType {
        width: 100%;
        height: 50%;
    }

    .operator-title {
        display: inline-block;
        margin: 0;
    }

    #remainder {
        width: 40%;
        height: 50%;
    }

    .remainder-title {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    #answer_form {
        width: 55%;
        height: 50%;
        margin: 0;
    }

    .answer_label {
        font-size: 1.2em;
    }

    .answer_title {
        display: inline-block;
        margin: 0;
        font-size: 1.5em;
    }

    #decimals_form {
        font-size: 0.8em;
        width: auto;
    }
    
    .numberSize-title {
        margin: 0%;
        text-align: center;
    }

    .NumberSize_div {
        width: 100%;
    }

    .decimals {
        width: 100%;
    }

    .number_title {
        font-size: 1.5em;
    }

    .decimals-title {
        font-size:1.5em;
    }

    .condition-button-numberSize {
        font-size: 1.3em;
        width: 15%;
        padding: 0.5% 3%;
    }
    /* 条件設定画面のスタイルここまで */

    /* レベル選択画面のスタイルここから */
    /* #select-Grade {
        background-color: thistle;
    } */
    #select-Grade {
        height: auto;
    }

    .grade-div {
        box-sizing:border-box;
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
        height: auto;
        border-radius: 3%;
    }

    .div-title {
        font-size: 2em;
    }

    .selected-grade {
        width: 100%;
        margin: 1% 0;
        font-size: 1.5em;
        margin-left: 5%;
    }
    /* レベル選択画面のスタイルここまで */

    /* 計算問題表示画面のスタイルここから */
    #formula_mark {
        font-size: 2em;
    }

    .formula {
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 8%;
    }

    .formulas-icon:hover {
        opacity: 1;
    }

    #mode-selection {
        width: 100%;
        margin-bottom: 2%;
    }

    .mode-selection-title {
        font-size: 1.5em;
    }

    #formulas-header {
        width: 100%;
        margin-bottom: 3%;
    }

    #print_mode {
        left: 20%;
        font-size: 1.8em;
    }

    #input_mode {
        left: 45%;
        font-size: 1.8em;
    }

    .formulas-icon {
        font-size: 1.8em;
        padding: 1.5% 5%;
    }

    .formulaParts {
        font-size: 1.5em;
    }
    /* 計算問題表示画面のスタイルここまで */

    /* フッターのスタイルここから */
    .footerItem {
        font-size: 2rem;
    }

    .forTop {
        font-size: 2rem;
    }
    /* フッターのスタイルここまで */
}