@media (max-width: 720px) {
    [data-ruby]::before {
        display: none;
    }

    /* トップページのスタイルここから */
    /* #contents {
        background-color: blanchedalmond;
    } */
    .main-title {
        top: 0;
        left: 2%;
        margin: 2% 30% 0 0 ;
        font-size:2.3em;
    }

    .main-explanation{
        font-size: 1.05em;
        top:9%;
        left: 1%;
    }

    .swiper-container {
        margin-top: 38%;
        background-color: whitesmoke;
    } 

    .swiper-slide img {
        height: 52vh;
        margin:2% 0 3% 3%;
    }

    .start {
        left: 30%;
        padding:0 5%;
        padding-top: 1%;
        top: 84%;
        height:8%;
        width: 35%;
        font-size: 2em;
        border-radius:0.3em;
    }
    /* トップページのスタイルここまで */

    /* 2つの方法から選択する画面のスタイルここから */
    /* #selection-screen {
        background-color: darkseagreen;
    } */

    .selection-title {
        font-size: 1.25em;
        padding: 2% 0 0 0;
    }

    .selected {
        width: 90%;
        height: 42%;
        margin-left: 5%;
        margin-top: 4%;
    }

    .selected-title {
        font-size: 1.5em;
        padding:2% 0 0 0;
    }

    .condision-type {
        font-size: 0.8em;
    }

    .condision-types {
        font-size: 1em;
    }

    .selected-details {
        font-size: 0.7em;
    }
    /* 2つの方法から選択する画面のスタイルここまで */

    /* 条件設定画面のスタイルここから */
    /* #conditions {
        background-color:lightskyblue;
    } */

    .condition-main-title {
        font-size: 2.2em;
    } 

    .condition {
        height: 26.5%;
    }

    .condition-title {
        font-size: 1.8em;
        padding-top: 0%;
        margin-left: 25%;
    }

    .condision-selected {
        height: 22%;
        width: 32%;
        font-size: 1.5em;
        margin:1% 0 3.5% 0;
    }

    .number {
        padding-left: 10%;
    }

    .formula-input {
        border-radius:0.2% 0 0 0.2%;
        margin-left: 0%;
    }
    
    .formula-text {
        height: 20%;
        bottom:0em;
    } 

    .fourLetters {
        width: 38%;
        padding-left: 4%;
    }

    .condition-label-operator {
        width: 23%;
        margin:0 0;
    }

    .operator-all {
        font-size: 1.5em;
        top: 62%;    
        left: 25%;
    }

    .numberSize-button-random {
        width: 40%;
    }

    .conditionsButton {
        font-size: 1.5em;
        width: 45%;
    }
    /* 条件設定画面のスタイルここまで */

    /* レベル選択画面のスタイルここから */
    #select-Grade {
        background-color: thistle;
    }

    .grade-title{
        font-size: 2em;
    }

    .selected-grade {
        width: 100%;
        height: 15%;
        margin: 0;
        border-radius: 0;
    }

    .selected-grade-title {
        font-size: 1.2em;
        margin: 0;
    }

    .condition-grade {
        float: left;
        font-size: 1em;
        width: 18vw;
        margin: 0;
    }

    .set-condition {
        font-size: 1em;
        margin: 0;
        display: inline-block;
        width: 100%;
    }

    .condition-grade-div {
        width: 100%;
    }
    /* レベル選択画面のスタイルここまで */

    /* 計算問題表示画面のスタイルここから */
    #formulas {
        margin-left: 15%;
    }

    .formulas-title {
        font-size: 2em;
    }

    .answer-display {
        font-size: 1em;
        padding-left: 10%;
        padding-right: 10%;
        height: 5%;
    }

    .formulas-icon {
        width: 15%;
    } 

    .formulaParts {
        font-size: 1.2em;
        margin-left: 0;
    }
    /* 計算問題表示画面のスタイルここから */
}