@media (max-width: 1024px) {

    /* トップページのスタイルここから */
    #contents {
        height: auto;
    }

    .main-title {
        top: 0;
        left: 2%;
        margin:1% 0 2.5%;
        font-size:3.5em;
    }

    .main-explanation{
        font-size: 1.8em;
        top: 0.5%;
        left: 30%;
    }

    .swiper {
        display: block;
    }

    .top-image {
        display: none;
    }

    .swiper-container {
        margin-top: 14%;
        background-color: whitesmoke;
    } 

    .swiper-slide img {
        width: 93%;
        margin:2% 0 3% 3%;
    }

    .swiper-pagination {
        top: 95%;
    }

    .start {
        position: relative;
        height:10%;
        width: 40%;
        padding: 1.5% 0;
        top:0;
        left:0;
        margin:8% auto;
        font-size: 2.5em;
        border-radius:0.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .start:hover {
        background-color: white;
        color:#00CED1;
    }
    /* トップページのスタイルここまで */

    /* 2つの方法から選択する画面のスタイルここから */
    /* #selection-screen {
        background-color: darkseagreen;
    } */

    .selection-title {
        font-size: 2.8em;
        margin-top: 1%;
    }

    .selection-title [data-ruby]::before {
        font-size: 0.45em;
    }

    .selected {
        width: 75%;
        height: 38%;
        margin-top: 2%;
    }

    .selected-grand {
        margin-top: 7%;
    }

    .selected-title {
        font-size: 2em;
        padding:2% 0 0 0;
    }

    .selected-title [data-ruby]::before {
        font-size: 0.4em;
    }

    .condision-type {
        margin-top: 0;
    }

    .condision-types {
        font-size: 1.7em;
    }

    .condision-types-grand {
        font-size: 1.25em;
    }

    .selected-details {
        line-height:200%;
        font-size:1.5em;
        margin-top: 0;
        line-height: 180%;
    }

    .selected:hover {
        opacity: 1;
        
    }
    /* 2つの方法から選択する画面のスタイルここまで */

    /* 条件設定画面のスタイルここから */
    /* #conditions {
        background-color:lightskyblue;
    } */
    
    .condition-main-title {
        font-size: 3.5em;
    } 

    .condition {
        height: 26%;
    }

    .condition-title {
        display: block;
        margin: 0% auto;
        padding-top: 2%;
        margin-left: 33%;
        margin-bottom: 1%;
    }

    .condition-title [data-ruby]::before {
        top: -0.7em;
    }

    .condision-selected {
        margin: 0 0 2% 0;
        padding-left: 0;
        box-sizing: border-box;
        width: 24%;
    }

    .formula-input {
        margin-left: 25%;
    }

    .formula-text {
        bottom: 0.25em;
    }

    .condition-label-operator {
        padding: 0 7.5%;
    }

    .operator-all {
        top: 65%;    
        left: 35%;
        padding:0 5%;
    }

    .condition-button-numberSize  {
        padding:0 4.5%;
    }

    .numberSize-button-random {
        margin-left: 35%;
        width: 35%;
    }

    .conditionsButton:hover {
        background-color: white;
        color:#00CED1;
    }

    .white:hover {
        opacity: 1;
    }

    .black:hover {
        opacity: 1;
    }

    .operator-all:hover {
        opacity: 1;
    } 
    /* 条件設定画面のスタイルここまで */

    /* レベル選択画面のスタイルここから */
    /* #select-Grade {
        background-color: thistle;
    } */

    .grade-title{
        font-size: 3.5em;
        margin-bottom: 1%;
    }

    .selected-grade {
        width:46.5%;
        height: 25%;
        margin: 0 0 6.5% 2%;
    }

    .selected-grade:hover [
        opacity: 1;
    ] 

    .selected-grade-title {
        font-size: 2em;
    }

    .condition-grade {
        width: 11vh;
        font-size: 1.8em;
    }

    .condition-grade-div {
        display: inline;
    }

    .set-condition {
        font-size: 1.8em;
        margin:5% 0 0 0;
        width: 20vh;
    }
    /* レベル選択画面のスタイルここまで */

    /* 計算問題表示画面のスタイルここから */
    #formula_mark {
        font-size: 2em;
    }

    .formula {
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 8%;
    }

    .formulas-icon:hover {
        opacity: 1;
    }
    /* 計算問題表示画面のスタイルここまで */

    /* フッターのスタイルここから */
    footer {
        left:70%
    }

    .arrowForTop {
        width: 25%;
    }
    /* フッターのスタイルここまで */
}