@media (max-width: 720px) {
    [data-ruby]::before {
        display: none;
    }

    /* トップページのスタイルここから */
    #contents {
        height: auto;
    }
    .main-title {
        top: 0;
        left: 2%;
        margin: 2% 30% 0 0 ;
        font-size:2.3em;
    }

    .main-explanation{
        font-size: 0.9em;
        top:9%;
        left: 1%;
    }

    .swiper-container {
        margin-top: 38%;
        background-color: whitesmoke;
    } 

    .swiper-slide img {
        margin:2% 0 3% 3%;
    }

    .start {
        position: relative;
        top:0;
        left:0;
        margin:10% auto;
        font-size: 1.5em;
        width: 40%;
        border-radius:0.3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* トップページのスタイルここまで */

    /* 2つの方法から選択する画面のスタイルここから */
    /* #selection-screen {
        background-color: darkseagreen;
    } */

    .selection-title {
        font-size: 1.15em;
        padding: 2% 0 0 0;
    }

    .selected {
        width: 90%;
        height: 42%;
        margin-left: 5%;
        margin-top: 4%;
    }

    .selected-title {
        font-size: 1.5em;
        padding:2% 0 0 0;
    }

    .condision-type {
        font-size: 0.8em;
    }

    .condision-types {
        font-size: 1em;
    }

    .selected-details {
        font-size: 0.7em;
    }
    /* 2つの方法から選択する画面のスタイルここまで */

    /* 条件設定画面のスタイルここから */
    /* #conditions {
        background-color:lightskyblue;
    } */
    #formulaNumber  {
        height: 18%;
    }

    .calculation {
        height: 30%;
    }

    .condition-main-title {
        font-size: 1.5em;
    } 

    .condition {
        height: 26.5%;
    }

    .condition-title {
        font-size: 1.5em;
        padding-top: 0%;
        margin-left: 25%;
    }

    .condision-selected {
        height: 22%;
        font-size: 1.3em;
        margin:1% 0 3.5% 0;
        width: 32%;
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #numberSize {
        height: 30%;
    }

    .numberSize-title {
        margin: 0;
    }

    .formula-input {
        border-radius:0.2% 0 0 0.2%;
        margin-left: 0%;
    }
    
    .formula-text {
        height: 20%;
        bottom:0em;
    } 

    .fourLetters {
        width: 38%;
    }

    .condition-label-operator {
        width: 23.5%;
        margin:0 0;
    }

    .operator-all {
        font-size: 1em;
        top: 65%;    
        left: 30%;
    }

    .numberSize-button-random {
        width: 40%;
    }

    .conditionsButton {
        font-size: 1.5em;
        width: 45%;
    }

    #operatorType {
        width: 100%;
        height: 50%;
    }

    #remainder {
        width: 100%;
        height: 25%;
    }

    .remainder-label {
        height: 55%;
        width: 20%;
    }

    .remainder-title {
        display: inline-block;
        margin-left: 0;
    }

    #answer_form {
        width: 100%;
        height: 25%;
    }

    .answer_title {
        display: inline-block;
        margin-left: 0;
        font-size: 3em;
    }

    .answer_label {
        font-size: 2.5em;
        width: 20%;
        height: 50%;
    } 


    #decimals_form {
        font-size: 0.5em;
    }

    .number_title {
        font-size: 0.8em;
    }

    .decimals-title {
        font-size:0.8em ;
    }

    .condition-button-numberSize {
        font-size: 0.8em;
        width: 15%;
    }
    /* 条件設定画面のスタイルここまで */

    /* レベル選択画面のスタイルここから */
    /* #select-Grade {
        background-color: thistle;
    } */
    #select-Grade {
        height: auto;
    }

    .grade-title{
        font-size: 2em;
    }

    .grade-div {
        box-sizing:border-box;
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
        height: auto;
        border-radius: 3%;
    }

    .div-title {
        font-size: 1.2em;
    }

    .selected-grade {
        width: 100%;
        margin: 2% 0;
        font-size: 1em;
        margin-left: 2%;
    }

    /* レベル選択画面のスタイルここまで */

    /* 計算問題表示画面のスタイルここから */
    #formula_mark {
        font-size: 1em;
    }

    #formulas {
        margin-left: 15%;
    }

    .formulas-title {
        font-size: 1.8em;
    }

    .formula {
        width: 100%;
        margin: 10% 0;
    }

    .answer-display {
        font-size: 1em;
        padding-left: 10%;
        padding-right: 10%;
        height: 5%;
    }

    .formulas-icon {
        width: 15%;
    } 

    .formulaParts {
        font-size: 1em;
        margin-left: 0;
    }

    .mode-selection-title {
        display: inline-block;
        width: 100%;
        font-size: 1em;
        margin-bottom: 5%;
    }

    #mode-selection {
        margin-bottom: 1%;
    }

    #print_mode, #input_mode {
        position: relative;
        top: 0;
        left: 0;
        font-size: 1.2em;
    }

    .formulas-icon {
        font-size: 1.5em;
        padding: 1.2% 5%;
        width: auto;
    }

    form[name ="answer_form"] {
        font-size: 0.5em;
    }

    form[name ="remainder_form"] {
        font-size: 0.5em;
    }

    input[name = "answer_check_text"]  {
        font-size: 0.7em;
    }
    /* 計算問題表示画面のスタイルここまで */

    /* フッターのスタイルここから */

        .forTop {
            font-size: 1rem;
        }

        .footerItem {
            font-size: 1rem;
        }
    /* フッターのスタイルここまで */
}