body {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* トップページのスタイル */
.contents {
    height:100vh;
    background-color: dimgray;
}

.main-title {
    position: absolute;
    top: 225px;
    left: 150px;
    font-size: 100px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.main-explanation {
    position:absolute;
    top: 420px;
    left: 60px;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

.white-background {
    height:100vh;
    width:800px;
    background-color: white;
}

.details-explanation {
    position:absolute;
    margin: 0px;
    padding: 5px;
    color: white;
    font-size: 38px;
    font-family: 'Noto Sans JP', sans-serif;
    border:solid 2px white;
    border-radius: 10px;
}

.explanation1 {
    top:200px;
    left:825px;
}

.explanation2 {
    top: 400px;
    left:1100px;
}

.explanation3 {
    top: 550px;
    left:875px;
}

.start {
    position: absolute;
    top:720px;
    left:calc(50% - 175px);
    height:80px;
    width: 350px;
    color: #00CED1;
    border-radius: 8px;
    text-align: center; 
    text-decoration: none;
    background-color: white;
    font-size: 50px;
    font-family:'Noto Sans JP', sans-serif;
    border:1px solid #00CED1; 
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.start:hover {
    background-color: #00CED1;
    color:white;
}

.start:focus {
    outline:0;
}
/* トップページのスタイルここまで */

/* 選択画面のスタイル */
.selection-screen {
    height: 100vh;
}

.selection-title {
    margin: 0;
    padding: 30px 0 60px 0;
    text-align: center;
    color: black;
    font-size:80px;
    font-family: 'Noto Sans JP', sans-serif;

}

.selected {
    display: inline-block;
    width: 600px;
    height: 600px;
    margin-left: 250px;
    border-radius: 20px;
    transition: opacity 0.3s;
}

.selected:hover {
    opacity: 0.8;
    
}

.selected-condision {
    background-color: #0066FF;
    position: relative;
    z-index: 1;
}

.selected-condision a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2;
}

.selected-grand {
    background-color: #CC33FF;
    position: relative;
    z-index: 1;
}

.selected-grand a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2;
}

.selected-title {
    margin: 0;
    padding: 30px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 45px;
}

.condision-type {
    margin: 40px 0 10px 40px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

.condision-types {
    margin: 0 0 10px 70px;
    list-style: none;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
} 

.condision-types li{
    display: inline-block;
    margin-left: 15px;
}
.selected-details {
    margin: 40px 40px 0 40px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:25px ;
    line-height: 45px;
}

.condision-types-grand {
    margin: 0 0 10px 30px;
    list-style: none;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
}

.condision-types-grand li{
    display: inline-block;
    margin-left: 15px;
}

.elementary {
    font-size:20px;
}
/* 選択画面のスタイルここまで */

/* 条件選択画面のスタイル */
.conditions {
    height:100vh;
}

#formulaNumber {
    background-color: #1995AD;
}

#operatorType {
    background-color: #F1f1f2;
}

#numberSize {
    background-color:#a1d6e2;
}

.condision-title {
    text-align: center;
    margin: 0;
    padding: 30px 0 40px 0;
    font-size:80px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.condition {
    height: 200px;
}

.condision-selected {
    margin-left:40px;
    font-size: 40px ; 
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    padding: 0 30px;
    border-radius: 5px;
}

.formula-item {
    display: inline-block;
}

.operator-item {
    display: inline-block;
}


.numberSize-item {
    display: inline-block;
}

.condition-title {
    margin-left:60px;
    font-size: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.white-title {
    color: white;
}

.conditionsButton {
    border-radius: 8px;
    display: block;
    width: 150px;
    color: #00CED1;
    margin: 30px auto;
    padding: 10px 70px ;
    text-align: center;
    font-size: 40px;
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    box-shadow: none;
    border:1px solid #00CED1;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.conditionsButton:hover {
    background-color: #00CED1;
    color:white;
}

.conditionsButton:focus {
    outline:0;
}

.condition-button {
    display: none;
}



.white {
    color: white;
    border: solid 1px white;
    transition: 0.2s;
}

.white:hover {
    transition: 0.2s;
    opacity: 0.5;
    cursor: pointer;
}


.black {
    border: solid 1px black;
    transition: 0.2s;
    padding: 0 45px;
    margin-left: 60px;
}

.addition {
    margin-left: 40px;
}

.black:hover  {
    transition: 0.2s;
    opacity: 0.5;
    cursor: pointer;
}

.condition-button-label {
    transition: 0.2s;
}

.condition-button:checked + .condition-button-white {
    background-color: white;
    color: black;
    border: none;
}

.condition-button-black:checked + .condition-label-black {
    background-color: black;
    color: white;
    border: none;
}

 /* 条件選択画面のスタイルここまで */ 

/* レベル選択画面のスタイル */
.select-Grade {
    height: 100vh;
}

.grade-title {
    text-align: center;
    margin: 0;
    padding: 20px 0 40px 0;
    font-size:80px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.selected-grade {
    display: inline-block;
    margin: 0 0 50px 60px;
    height: 325px;
    width: 550px;
    background-color: darkseagreen;
    border-radius: 8px;
    transition: opacity 0.3s;
}

.selected-grade:hover  {
    opacity:0.7;
    cursor: pointer;
}
/* .condition-grade-item {
    display: inline-block;
} */

.selected-grade div {
    float: left;
}

.selected-grade-title {
    margin: 10px 0;
    text-align: center;
    font-size: 50px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.condition-grade {
    margin:7px 0 23px 60px;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

.set-condition {
    margin:0 0 10px 60px;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

.grade1 {
    background-color: #60EEFF;
}

.grade2 {
    background-color: #78FF94			;
}

.grade3 {
    background-color: #FFFF44	;
}

.grade45 {
    background-color: #FF5F17;
}

.grade6 {
    background-color: #BB0000;
}

.grade-max {
    background-color: #330033;
}

.grade6 h1, .grade6 p {
    color: white;
}

.grade-max h1, .grade-max p {
    color: white;
}
/* レベル選択画面のスタイルここまで */

#formulas {
    position: block;
}

.formula {
    display: inline-block;
    width: 10%;

}

.childFormula {
    text-align: center;
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
}

.formulaAnswer {
    text-align: center;
    font-size: 30px;
    color: red;
    font-family:'Noto Sans JP', sans-serif ;
    animation: fadeIn 0.2s ease 0.3s 1 normal;
}

.hidden {
    visibility:hidden
}

#buttonAnswer {
    border-radius: 8px;
    display: block;
    color: #00CED1;
    margin: 20px auto;
    padding: 10px 50px ;
    text-align: center;
    font-size: 15px;
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    box-shadow: none;
    border:1px solid #00CED1;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#buttonAnswer:hover {
    background-color: #00CED1;
    color:white;
}

#buttonAnswer:focus {
    outline:0;
}